.box-avaliacoes{
    height: 230px;
    width: 900px;
    background-color: rgb(191, 129, 48);
    border: none;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 25px;
    padding: 10px;
    overflow-y: auto;
}