/* .container-avaliacoes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('./public/images/fundo-avaliacoes.png');
    background-repeat: no-repeat;
    background-size: cover;
}

    .navbar-avaliacoes{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 100vw;
        background-color: transparent;
    }

    .main-avaliacoes{
        display: flex;
        height: calc(100vh - 130px);
        width: 100vw;
        background-color: transparent;
    }
        .main-avaliacoes-left{
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 50%;
            background-color: transparent;
        }
            .main-avaliacoes-left-title{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: transparent;
                height: 10%;
                width: 100%;
            }
                .avaliacoes-title{
                    font-size: 50px;
                    font-weight: bolder;
                    text-shadow: 1px 1px 10px #fff;
                    letter-spacing: 2px;
                }

            /* Container principal */
            /* .main-avaliacoes-left-box {
                height: 100vh;
                width: 100%;
                background-color: rgb(106, 116, 116);
                display: flex;
                justify-content: center;
                align-items: center;
            } */
            
            /* Container que tem a barra de rolagem */
            /* .box-avaliacoes-container {
                background-color: whitesmoke;
                width: 95%;
                height: 80vh;
                border-radius: 12px;
                padding: 10px;
              
                display: flex;
                flex-direction: column;
                gap: 20px;
              
                overflow-y: auto;
            } */

            
        /* .main-avaliacoes-right{
            height: 100%;
            width: 50%;
            background-color: transparent;
        /* } */

        .main-avaliacoes {
            display: flex;
            height: calc(100vh - 130px);
            width: 100%;
            background-color: var(--cor8);
          }
          
          .main-avaliacoes-left {
            width: 60%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            background-color: rgb(106, 116, 116);
            padding: 10px;
          }
          
          .main-avaliacoes-left-title {
            padding: 10px;
          }
          
          .avaliacoes-title {
            font-size: 30px;
            color: white;
            font-weight: bold;
          }
          
          .main-avaliacoes-left-box {
            width: 100%;
            height: 100%;
            background-color: whitesmoke;
            border-radius: 10px;
            padding: 10px;
            overflow-y: auto;
          }
          
          .box-avaliacoes-container {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
          }
          
          .box-avaliacoes {
            height: 300px;
            width: 90%;
            background-color: rgb(191, 129, 48);
            border: none;
            border-radius: 20px;
          }
          