.container-avaliacoes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('./public/images/fundo-avaliacoes.png');
    background-repeat: no-repeat;
    background-size: cover;
}

    .navbar-avaliacoes{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 100vw;
        background-color: transparent;
    }

    .main-avaliacoes{
        display: flex;
        height: calc(100vh - 130px);
        width: 100vw;
        background-color: transparent;
    }
        .main-avaliacoes-left{
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 50%;
            background-color: transparent;
        }
            .main-avaliacoes-left-title{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: transparent;
                height: 10%;
                width: 100%;
            }
                .avaliacoes-title{
                    font-size: 50px;
                    font-weight: bolder;
                    text-shadow: 1px 1px 10px #fff;
                    letter-spacing: 2px;
                }

            .main-avaliacoes-left-box{
                height: 90vh;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background-color: rgb(106, 116, 116);
            }
                .box-avaliacoes-container{
                    display: flex;
                    flex-direction: column;
                    background-color: whitesmoke;
                    height: 78vh;
                    width: 95%;
                    gap: 20px;
                    padding: 10px;
                    overflow-y: auto;
                }
            
        .main-avaliacoes-right{
            height: 100%;
            width: 50%;
            background-color: transparent;
        }
   