.container-contato{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

    .header-contato{
        display: flex;
        height: 60px;
        width: 100vw;
        background-color: rgb(172, 102, 38);
    }
        .header-logo-contato{
            display: flex;
            justify-content: start;
            align-items: center;
            padding-left: 20px;
            height: 100%;
            width: 50%;
            background-color: whitesmoke;
        }
        
        .header-social-midia-contato{
            display: flex;
            justify-content: end;
            align-items: center;
            height: 100%;
            width: 50%;
            gap: 10px;
            padding-right: 20px;
            background-color: transparent;

        }
            .header-midia-button-contato{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 100px;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                background-color: whitesmoke;
                cursor: pointer;
            }
                .midia-images-contato{
                    width: 36px;
                }

    .navbar-contato{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 100vw;
        background-color: rgb(7, 8, 8);
    }

    .main-contato{
        display: flex;
        height: calc(100vh - 120px);
        width: 100vw;
        background-color: rgb(71, 73, 73);
    }
        .main-contato-left{
            height: 100%;
            width: 60%;
            background-color: darkcyan;
            
        }
        .main-contato-right{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 40%;
            background-color: rgb(44, 87, 87);

        }
            form{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background-color: whitesmoke;
                border-radius: 30px;
                height: 600px;
                width: 500px;
                gap: 30px;

                & .form-input{
                    height: 35px;
                    width: 250px;
                    
                }

                & .form-texterea{
                    height: 100px;
                    width: 250px;
                }
            }

    .footer-contato{
        height: 20px;
        width: 100vw;
        background-color: rgb(125, 167, 167);
    }