.container-contato{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('./public/images/fundo-contato.png');
    background-repeat: no-repeat;
    background-size: cover;
}
    .navbar-contato{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 100vw;
        background-color: transparent;
    }

    .main-contato{
        display: flex;
        height: calc(100vh - 130px);
        width: 100vw;
        background-color: transparent;
        
    }
        .main-contato-left{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 60%;
            background-color: transparent;
            
        }

        .main-contato-right{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 40%;
            background-color: transparent;

        }
            form{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                /* background-color: whitesmoke; */
                background-color: var(--cor3);
                border-radius: 30px;
                height: 650px;
                width: 450px;
                gap: 30px;
                box-shadow: 0px 0px 8px 10px var(--cor1);

                & .form-input{
                    height: 40px;
                    width: 340px;
                    padding-left: 5px;
                    border-radius: 10px;
                    font-size: 20px;
                }

                & .form-texterea{
                    height: 150px;
                    width: 340px;
                    max-height: 200px;
                    max-width: 340px;
                    padding-left: 5px;
                    padding-top: 5px;
                    border-radius: 10px;
                    font-size: 20px;
                }

                & .form-button{
                    height: 35px;
                    width: 200px;
                    border: none;
                    border-radius: 15px;
                    cursor: pointer;
                    font-size: 20px;
                    font-weight: bold;
                    color: var(--cor5);
                   }
                    .form-button:hover{
                        background-color: var(--cor1);
                        box-shadow: 0px 0px 8px 10px var(--cor6);
                        height: 40px;
                        width: 340px;
                }
            }
