.container-sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('./public/images/fundo-sobre.png');
    background-repeat: no-repeat;
    background-size: cover;
}

    .navbar-sobre{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 100vw;
        background-color: transparent;
    }

    .main-sobre{
        height: calc(100vh - 130px);
        width: 100vw;
        background-color: transparent;
    }
