.container-service{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: rgb(46, 41, 41); */
    background-image: url('./public/images/fundo-servicos.png');
    background-repeat: no-repeat;
    background-size: cover;
}
    .main-user{
        display: flex;
        height: calc(100vh - 90px);
        width: 100vw;
        background-color: var(--cor3);
    }

    .main-user-left{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 25%;
    }
        .main-user-left-top{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            height: 40%;
            width: 100%;
            background-color: rgb(190, 33, 33);
        }
            .main-user-left-image{
                height: 150px;
                width: 150px;
                background-color: whitesmoke;
                border: none;
                border-radius: 50%;
            }
            .main-user-left-name{
                font-size: 25px;
                font-weight: bolder;
            }

        .main-user-left-bottom{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            height: 60%;
            width: 100%;
            background-color: rgb(114, 95, 95);
        }
            .botao-menu{
                height: 40px;
                width: 250px;
                font-size: 20px;
                font-weight: bold;
                border: none;
                border-radius: 15px;
                cursor: pointer;
            }
                .botao-menu:hover{
                    height: 45px;
                    width: 300px;
                    font-size: 30px;
                    font-weight: bolder;
                    border: none;
                    border-radius: 15px;
                    cursor: pointer;
                }

    .main-user-right{
        height: 100%;
        width: 75%;
        background-color: rgb(90, 45, 45);
        font-size: 30px;
    }