*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root, html, body{
  min-height: 100vh;
  background-color: whitesmoke;
}

/* estilização do cabeçalho */
.nome-empresa{
  font-size: 30px;
  font-weight: bolder;
}