/* index.css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root, html, body{
  min-height: 100%;
  background-color: whitesmoke;
}

:root{
  --cor1: #d6a56c;
  --cor2: #442d1f;
  --cor3: #915d38;
  --cor4: #85afa3;
  --cor5: #120e0e;
  --cor6: #734828;
  --cor7: #5c6e5c;
  --cor8: #879394;
  --cor9: #bf304c;
  --cor10: #395560;
}

/* Estilização do Header */
.header{
  display: flex;
  height: 60px;
  width: 100vw;
  background-color: transparent;
}
  .header-logo{
      display: flex;
      justify-content: start;
      align-items: center;
      padding-left: 20px;
      height: 100%;
      width: 50%;
      background-color: transparent;
  }
  .nome-empresa{
    font-size: 30px;
    font-weight: bolder;
    color: #fcfcfc;
  }
  
  .header-social-midia{
      display: flex;
      justify-content: end;
      align-items: center;
      height: 100%;
      width: 50%;
      gap: 20px;
      padding-right: 20px;
      background-color: transparent;

  }
  .header-midia-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    box-shadow: 0px 0px 2px 4px #fff;
  }
    .midia-images{
        width: 36px;
    }

/* footer */
.footer{
  height: 30px;
  width: 100vw;
  background-color: #fff;
}